.videosWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    max-width: 480px; 
    width: 100%;
    overflow-y: auto;
    margin: 0 auto;
}

.videoSource {
    width: 100%;
    margin: 20px;
    object-fit: cover;
}
